*.swp
*~
/deps/
/deps_debug/
/objs/
/objs_debug/
*.exe
/test
/run_filtered
/plat.mk
*.dll
/out_*
/graph_out_*
/hopdist_*
/outs/
/objs_debug/
/saved_out_*
/filtered_out_*
/filtered_naive_*
.vscode
/stdout_filtered.txt
/stats_filtered_out_*
/stats_naive_*
*.png
